@model IEnumerable<Insurance.Models.Service>

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>


    <h2>Управление услугами</h2>

    <div class="button-container">
        <a asp-action="Create" class="btn btn-primary mb-3">Создать</a>
    </div>

    <table class="table table-bordered">
        <!-- Добавлен класс таблицы -->
        <thead>
            <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Стоимость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.Name</td>
                    <td>@service.Type</td>
                    <td>@string.Format("{0:F2}", service.Price)</td>
                    <td>
                        <div class="btn-container">
                            <a asp-action="Edit" asp-route-id="@service.Id" class="btn btn-warning">Редактировать</a>
                            <a asp-action="Details" asp-route-id="@service.Id" class="btn btn-info">Детали</a>
                            <a asp-action="Delete" asp-route-id="@service.Id" class="btn btn-danger">Удалить</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

