@model IEnumerable<Insurance.Models.Client>

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>

<h2>Справочник клиентов</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>ИНН</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Тип клиента</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.TaxId</td>
                <td>@client.PhoneNumber</td>
                <td>@client.Email</td>
                <td>@client.UserType</td>
            </tr>
        }
    </tbody>
</table>
